@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Outfit", sans-serif;
}

.icon-btn {
    svg {
        margin-right: 12px;

        path {
            fill: #000;
        }
    }
}

.inputWithIcon {
    svg {
        path {
            opacity: 0.2;
        }
    }
}

.side-bar-logo {
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.kababIconVisible {
    &:hover {
        .chat-icons {
            /* display: block; */
            opacity: 1;
        }
    }

    .chat-icons {
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
}

/* .active-chat */
.kababIconVisible:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.12);
    border-color: #00b796;
    background: #f1fffd;

    & .start-icon {
        path {
            fill: #00b796;
        }
    }
}

.chat-inner {
    height: calc(100% - 220px);
    overflow: auto;
}